body {background-color: beige;}
h1   {color: black;}
h2   {color: black;}
p    {color: black;}
p    {font-family: young,serif;}
h1   {font-family: young,serif;}
h2   {font-family: young,serif;}

#contact-paragraph {
    background-color: #005656;
    color: beige;
    padding: 16px;
    border-radius: 8px;
}
#nav-ul {
    list-style-type: none;
    padding: 8px;
    text-align: center;
}

header {
    background-color: beige;
    color: beige;
    padding: 16px;
    border-radius:8px;
    border-style: solid;
}

#about {padding: 16px;
    background-color: lightgray;
    border-radius: 8px}

.generic-p {text-align: center;}

.generic-h {text-align: center;}

button {border-radius: 8px;
    padding: 8px;
    background-color: darkslategrey;
    font-family: young, serif;
    color: white;
}

.center {text-align: center;}

#about {text-align: center;}



