body {background-color: beige;}
h1   {color: darkblue;}
h2   {color: black;}
p    {color: black;}
p    {font-family: Verdana,serif;}
h1   {font-family: Verdana,serif;}
h2   {font-family: Verdana,serif;}



