body {background-color: #fcffd6;}
h1   {color: black;}
h2   {color: black;}
p    {color: black;}
p    {font-family: Verdana,serif;}
h1   {font-family: Verdana,serif;}
h2   {font-family: Verdana,serif;}